:root {
  --color-grey-1: #777777;
  --color-grey-2: #757575;
  --color-grey-3: #A8A8A8;
  --color-grey-2: #757575;
  --color-grey-5: #D9D9D9;
  --color-grey-6: #555555;
  --color-white-1: #ffffff;
  --color-white-2: #f9f9f9;
  --color-black: #000000;
  --color-primary: #DE2600;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 56.25em) {
  *,
*::before,
*::after {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--color-grey-6);
}

.container {
  max-width: 144rem;
  margin: 0 auto 20rem auto;
}

.header {
  font-size: 1.6rem;
  display: flex;
  padding: 2rem 0;
  align-items: center;
  margin: 0 1rem;
}
@media only screen and (max-width: 37.5em) {
  .header {
    flex-wrap: wrap;
  }
}

.user-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;
}
@media only screen and (max-width: 26.6em) {
  .user-nav {
    display: none;
  }
}

.content {
  display: flex;
  margin: 0.8rem 1rem;
  flex-wrap: wrap;
}
@media only screen and (max-width: 45.9em) {
  .content {
    margin-left: 2rem;
  }
}

.page-nav {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.warning {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.animated-hamburger {
  position: relative;
}
.animated-hamburger__checkbox {
  display: none;
}
.animated-hamburger__icon {
  margin-right: 1.4rem;
  position: relative;
  height: 4rem;
  width: 2rem;
}
.animated-hamburger__icon, .animated-hamburger__icon::before, .animated-hamburger__icon::after {
  width: 3rem;
  height: 2px;
  display: inline-block;
  background-color: var(--color-grey-2);
}
.animated-hamburger__icon::before, .animated-hamburger__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.animated-hamburger__icon::before {
  top: -1rem;
  background-color: var(--color-grey-2);
}
.animated-hamburger__icon::after {
  top: 1rem;
  background-color: var(--color-grey-2);
}
.animated-hamburger__label {
  height: 5rem;
  width: 3rem;
  text-align: center;
  cursor: pointer;
}
.animated-hamburger__checkbox:checked + .animated-hamburger__label .animated-hamburger__icon {
  background-color: transparent;
}
.animated-hamburger__checkbox:checked + .animated-hamburger__label .animated-hamburger__icon::before {
  top: 0;
  transform: rotate(45deg) translateY(0.7rem);
}
.animated-hamburger__checkbox:checked + .animated-hamburger__label .animated-hamburger__icon::after {
  transform: rotate(-45deg) translateY(-0.8rem);
}

.logo__text {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--color-white-1);
  background-color: var(--color-black);
  padding: 0 0.4rem;
}
@media only screen and (max-width: 37.5em) {
  .logo__text {
    margin-right: 27rem;
  }
}
@media only screen and (max-width: 32.9em) {
  .logo__text {
    margin-right: 16rem;
  }
}
@media only screen and (max-width: 26.6em) {
  .logo__text {
    margin-right: 4rem;
  }
}

.search {
  display: flex;
  margin-left: 3rem;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex: 0 0 40%;
}
@media only screen and (max-width: 37.5em) {
  .search {
    order: 1;
    flex: 0 0 100%;
    margin-top: 2rem;
  }
}
.search__input {
  padding: 0.5rem 2rem 0 2rem;
  width: 70%;
  height: 3rem;
  border: 2px solid var(--color-grey-3);
  margin-right: -3rem;
  font-size: 1.4rem;
}
.search__input:focus {
  outline: none;
}
.search__input::-webkit-input-placeholder {
  font-size: 1.5rem;
  align-self: center;
  font-family: inherit;
}
.search__icon {
  height: 3rem;
  width: 3rem;
  background-color: var(--color-grey-5);
  padding: 0.5rem;
}

.cta {
  color: var(--color-white-1);
  background-color: var(--color-primary);
  font-size: 2rem;
  padding: 0.3rem 1rem;
  margin-right: 1%;
}

.log-in {
  font-size: 1.6rem;
  margin-right: 1%;
}

.burger {
  cursor: pointer;
  position: relative;
}
.burger__icon {
  height: 2rem;
  width: 2rem;
}
.burger__icon:hover + .dropdown {
  display: block;
}

.dropdown {
  position: absolute;
  left: -10rem;
  z-index: 50;
  background-color: var(--color-black);
  width: 15rem;
  display: none;
}
.dropdown__item {
  font-size: 1.6rem;
  list-style: none;
  color: var(--color-white-1);
  padding: 1rem;
}

.user-nav {
  font-size: 2rem;
}
.user-nav__country {
  color: var(--color-white-1);
  background-color: var(--color-black);
  padding: 0.51rem 1rem;
  margin-right: 1rem;
  margin-bottom: 0.7em;
}
.user-nav__tab {
  margin-right: 4px;
  margin-bottom: 0.7em;
  padding: 0.5rem 0.8rem;
}
.user-nav__tab--red {
  background-color: var(--color-primary);
  color: var(--color-white-1);
}
.user-nav__tab--grey {
  background-color: var(--color-grey-3);
  color: var(--color-white-1);
}
.user-nav__icon {
  width: 2rem;
  height: 2rem;
  align-self: center;
}

.content-box {
  flex: 0 0 19%;
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 45.9em) {
  .content-box {
    flex: 0 0 23%;
  }
}
@media only screen and (max-width: 37.5em) {
  .content-box {
    flex: 0 0 30%;
  }
}
@media only screen and (max-width: 32.9em) {
  .content-box {
    flex: 0 0 47%;
  }
}
@media only screen and (max-width: 26.6em) {
  .content-box {
    flex: 0 0 100%;
    margin-bottom: 3rem;
  }
}
.content-box:not(:nth-of-type(5n)) {
  margin-right: 1rem;
}
.content-box__top {
  position: relative;
}
.content-box__img {
  width: 100%;
}
.content-box__rating {
  background-color: var(--color-primary);
  color: var(--color-white-1);
  font-size: 1.4rem;
  padding: 0 0.2rem;
  width: 4rem;
  text-align: center;
  border-radius: 4px;
  font-weight: 600;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.content-box__down {
  font-weight: 600;
  color: var(--color-grey-6);
}
.content-box__down--title {
  font-size: 1.4rem;
  text-align: center;
}
.content-box__down--details {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-box__down .detail {
  font-size: 1.1rem;
}
.content-box__down .name {
  text-decoration: underline;
  cursor: pointer;
}
.content-box__down .name:hover {
  text-decoration: none;
}
.content-box__down .duration {
  background-color: var(--color-grey-3);
  border-radius: 3px;
}

.page-nav__btn {
  padding: 1rem;
  background-color: var(--color-white-1);
  border: 1px solid var(--color-grey-6);
  font-size: 1.4rem;
  cursor: pointer;
  margin-top: 0.8rem;
}
.page-nav__btn:not(:last-child) {
  margin-right: 0.4rem;
}
.page-nav__btn:hover {
  background-color: var(--color-grey-3);
}
@media only screen and (max-width: 45.9em) {
  .page-nav__btn {
    font-size: 1.2rem;
    padding: 0.6rem;
  }
}
@media only screen and (max-width: 32.9em) {
  .page-nav__btn {
    padding: 0.4rem;
  }
}
.page-nav__anchor {
  font-size: 1.5rem;
  color: var(--color-black);
  font-weight: 600;
  align-self: center;
  margin: 0 0.9rem;
}
.page-nav__anchor:hover {
  color: var(--color-grey-2);
  text-decoration: none;
}

.btn-large {
  display: flex;
  font-size: 2rem;
  color: var(--color-grey-6);
  padding: 0.6rem 1.4rem;
  background-color: var(--color-grey-4);
  cursor: pointer;
  border: 1px solid var(--color-grey-3);
}
.btn-large:hover {
  background-color: var(--color-grey-3);
}
.btn-large:focus {
  outline: none;
}
.btn-large__icon {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
